<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <header style="height: 50px;">
        <div class="row" style="justify-content: start; height: 50px; width: 100%">
            <div class="block" style="width: auto">
                <img class="expand-img" style="width: auto" src="https://toplogos.ru/images/logo-sber.png"></img>
            </div>
        </div>
    </header>
    <body>
        <form method="post" class="row" style="height: 100%; width: 100%;" novalidate action="partner">
            <div class="scroll-column" style="width: 9rem; margin-left: 1rem;">
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">Название</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">Категория</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">2ГИС-ID</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">Логотип</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">Фото</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 10%; width: 100%"><p class="text-main">Описание</p></div>
                <div class="block bg-color-frame1 rounded" style="height: 15%; width: 100%"><p class="text-main">Акции</p></div>
                <button class="block bg-color-clickable rounded" type="submit" style="height: 10%; width: 100%; justify-content: center;">
                    {% if partner.id == None %}
                        <p class="text-main color-base">Создать</p>
                    {% else %}
                        <p class="text-main color-base">Сохранить</p>
                    {% endif %}
                </button>
            </div>
            <div class="scroll-column">
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="name" placeholder="{{ partner.name }}" value = "{{ partner.name }}" required>
                </div>
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="type" placeholder="{{ partner.type }}" value = "{{ partner.type }}" required>
                </div>
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="org_id" placeholder="{{ partner.org_id }}" value = "{{ partner.org_id }}" required>
                </div>
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="logo_url" placeholder="{{ partner.logo_url }}" value = "{{ partner.logo_url }}" required>
                </div>
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="image_urls" placeholder="{{ partner.image_urls }}" value = "{{ partner.image_urls }}" required>
                </div>
                <div class="block" style="height: 10%;">
                    <input class="text-mini bg-color-frame2 rounded" type="text" name="info" placeholder="{{ partner.info }}" value = "{{ partner.info }}" required>
                </div>
                <div class="block" style="height: 15%;">
                    <textarea class="text-mini bg-color-frame2 rounded" name="sales" style="width: 90%; height: 90%; resize: none; border: 0px" placeholder="{{ partner.sales }}">{{ partner.sales }}</textarea>
                </div>
            </div>
        </form>
    </body>
    <footer class="bg-color-blur" style="height: 60px;">
        <div class="row">
            <div class="block">
                <form action="/admin/roles" method="get">
                    <button>
                        <p class="material-symbols-outlined color-contour2" style="font-size: 60px;">supervisor_account</p>
                    </button>
                </form>
            </div>
            <div class="block">
                <form action="/admin/partner" method="get">
                    <button>
                        <p class="material-symbols-outlined color-clickable" style="font-size: 60px;">store</p>
                    </button>
                </form>
            </div>
            <div class="block">
                <form action="/admin/reviews" method="get">
                    <button>
                        <p class="material-symbols-outlined color-contour2" style="font-size: 60px;">reviews</p>
                    </button>
                </form>
            </div>
        </div>
    </footer>
</html>