html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#container {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid black;
}

.left-side {
    /* background-color: rgb(39, 190, 39); */
    width: 50%; /* Ширина блока (можно менять по своему усмотрению) */
    height: 100px; /* Высота блока */
    margin: 0;  
}

.green-box {
    background-color: rgb(19, 160, 19); /* Устанавливаем зеленый фон */
    width: 100%; /* Ширина блока (можно менять по своему усмотрению) */
    height: 150px; /* Высота блока */
    margin: 0; 
}

.search-button {
    text-align: center;
    padding-top: 40px;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 400px;
  height: 100px;
  margin: 0 auto;
}
input, button {
  border: none;
  outline: none;
  border-radius: 120px;
}
input {
  width: 100%;
  height: 70px;
  background: #F9F0DA;
  padding-left: 15px;
}
button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 55px;
  right: 15px;
  background: #F15B42;
  cursor: pointer;
}
button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}


.filter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.filters {
    padding-top: 100px;
    padding-left: 120px;
    font-size: 20px;
    font-weight: bold;
}


.sber_gradient {
    background-image: linear-gradient(to right, #0087cd, #42E3B4, #A0E720, #FAED00, #A0E720, #21BA72,#21BA72);
}


.login_window {
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;

    background-color: whitesmoke;
    border-radius: 10%;
}

.login_texthint {
    margin-left: 0%;
    margin-bottom: 0%;

    color:lightslategray
}

#login_button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;

    background-color: black;
    color: gray;
    border-radius: 14px;
}

.popup {
    position: absolute;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.popup-content {
    padding: 10px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(38, 38, 38, 0.2);
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
}
.popup-tip {
    width: 0;
    height: 0;
    align-self: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
