html {
    margin: 0px;
    height: 95%;
    font-size: 3vmin;
    text-align: center;
}

body {
    margin: 0px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[class^="Header"], [class^="Text"] {
    font-family: "Manrope";
}

[class^="Header"]{
    font-weight: 700;
}

.HorizontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.VerticalFlex {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-width: 0;
}

img {
    margin: 1vmin;
}

.RoundedBorders {
    border-radius: 1rem;
}

.HeaderLarge {
    font-size: 2.5rem;
}

.HeaderMid {
    font-size: 2.125rem;
}

.HeaderSmall {
    font-size: 1.75rem;
}

.HeaderMini {
    font-size: 1.375rem;
}

.TextMain {
    font-size: 1rem;
}

.TextMini {
    font-size: 0.75rem;
}

.ColorBase {
    color: #FFFFFF;
}

.ColorBlure {
    color: #FFFFFF99;
    filter: blur(20px);
}

.ColorFrame1 {
    color: #EBEBEB;
}

.ColorFrame2 {
    color: #E4EBF1
}

.ColorFrame3 {
    color: #ECFDED
}

.ColorSpecial {
    color: #114857
}

.ColorContour1 {
    color: #262626
}

.ColorContour2 {
    color: #8A8A8A
}

.ColorHighlight {
    color: #08A652
}

.ColorClickable {
    color: #24B23E
}

.BackgroundColorBase {
    background-color: #FFFFFF;
}

.BackgroundColorBlure {
    background-color: #FFFFFF99;
    filter: blur(20px);
}

.BackgroundColorFrame1 {
    background-color: #EBEBEB;
}

.BackgroundColorFrame2 {
    background-color: #E4EBF1
}

.BackgroundColorFrame3 {
    background-color: #ECFDED
}

.BackgroundColorSpecial {
    background-color: #114857
}

.BackgroundColorContour1 {
    background-color: #262626
}

.BackgroundColorContour2 {
    background-color: #8A8A8A
}

.BackgroundColorHighlight {
    background-color: #08A652
}

.BackgroundColorClickable {
    background-color: #24B23E
}
