<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope'>
    </head>
    <body>
        <div class="column" style="width: 100%">
            <div class="column" style="justify-content: space-between; height: 33%; width: 100%">
                <div style="height: 15%; width: 100%">
                    <p class="header-mini">Вы недавно искали</p>
                </div>
                <div class="scroll-row" style="height: 85%; width: 100%">
                    <div class="column shadow rounded bg-color-base" style="height: 85%; width: auto; aspect-ratio: 1.15; justify-content: space-between; margin: 3%">
                        <div style="height: 60%; width: 100%">
                            <img class="expand-img rounded" src="https://avatars.mds.yandex.net/get-altay/4377463/2a00000182500a731822c9b8459bae41d2ab/L_height"></img>
                        </div>
                        <div style="height: 20%; width: 100%">
                            <p class="text-main">Буше</p>
                        </div>
                        <div style="height: 20%; width: 100%">
                            <p class="text-mini">Кондитерская</p>
                        </div>
                    </div>
                    <div class="column rounded" style="background-color: red; height: 85%; width: auto; aspect-ratio: 1.15; justify-content: space-between; margin: 3%">
                        <div class="rounded" style="background-color: blue; height: 60%; width: 100%"></div>
                        <div style="background-color: green; height: 20%; width: 100%"></div>
                        <div style="background-color: pink; height: 20%; width: 100%"></div>
                    </div>
                    <div class="column rounded" style="background-color: red; height: 85%; width: auto; aspect-ratio: 1.15; justify-content: space-between; margin: 3%">
                        <div class="rounded" style="background-color: blue; height: 60%; width: 100%"></div>
                        <div style="background-color: green; height: 20%; width: 100%"></div>
                        <div style="background-color: pink; height: 20%; width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="column" style="background-color: rebeccapurple; height: 33%; width: 100%">
            </div>
            <div class="column" style="background-color: red; height: 33%; width: 100%">
            </div>
        </div>
    </body>
</html>