<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope'>
    </head>
    <header class="Column", style="height: 12vh;">
        <div class="Row", style="height: 5vh;">
            <img src='../static/images/logo-sber.png'></img>
            <img src='../static/images/bell.svg'></img>
        </div>
        <p class="BackgroundColorFrame1 TextMain RoundedBorders", style="height: 7vh; width: 80vw;">Поиск</p>    
    </header>
    <body, style="height: 80vh;">
        <div class="Column ScrollColumn">
            <div class="ScrollRow", style="height: 30vh;">
                <div class="Block RoundedBorders BackgroundColorFrame1", style="width: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 70%;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1", style="width: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 70%;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1", style="width: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 70%;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1", style="width: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 70%;"></img>
                    <p>Название</p>
                </div> 
            </div>
        </div>
    </body>
    <footer class="Row BackgroundColorBlur", style="height: 8px;">
    </footer>
</html>