<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope'>
    </head>
    <header class="Column", style="height: 12vmin;">
        <div class="Row", style="height: 5vmin;">
            <img src='../static/images/logo-sber.png'></img>
            <img src='../static/images/bell.svg'></img>
        </div>
        <p class="BackgroundColorFrame1 TextMain RoundedBorders", style="height: 7vmin; width: 80vw;">Поиск</p>    
    </header>
    <body>
        <div class="Column">
            <div class="ScrollRow" style="height: 50vmin">
                {% for partner in user.last_used_partners %}
                    <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                        <img src='../static/images/bell.svg', style="height: 30vmin;"></img>
                        <p class="TextMain">{{ partner.name }}</p>
                        <p class="TextMini">{{ partner.type }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="ScrollRow" style="height: 50vmin">
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
            </div>
            <div class="ScrollRow" style="height: 50vmin">
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
                <div class="Block RoundedBorders BackgroundColorFrame1" style="flex-basis: 40vmin;">
                    <img src='../static/images/bell.svg', style="height: 35vmin;"></img>
                    <p>Название</p>
                </div>
            </div>
        </div>
    </body>
    <footer class="Row BackgroundColorBlur", style="height: 8px;">
    </footer>
</html>