<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope'>
    </head>
    <body>
        <div class="VerticalFlex">
            <img src='../static/images/logo-sber.png', style="height: 20vh;"></img>
            <p class="HeaderLarge ColorHighlight">Добро пожаловать!</p>
            <img src="../static/images/sberkot.png", style="height: 20vh;"></img>
            <div, style="height: 20vh;">
                <button class="HorizontalFlex BackgroundColorClickable RoundedBorders", style="height: 20vh;">
                    <img src="../static/images/logo-telegram.png", style="height: 20vh;"></img>
                    <p class="HeaderMini ColorBase">Войти через телеграм</p>
                </button>
            </div>
        </div>
    </body>
</html>