<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        <div class="column", style="height: 100%; width: 100%;">
            <img src='../static/images/logo-sber.png', style="height: 20%;"></img>
            <p class="header-mid color-highlight centered", style="height: 20%;">Добро пожаловать!</p>
            <img src="../static/images/sberkot.png", style="height: 40%;"></img>
            <form action="/main_page" method="post">
                <button>
                    <div class="row bg-color-clickable rounded" style="height: 20%;">
                        <div style="height: 100%; width: auto; aspect-ratio: 1;">
                            <img src="../static/images/logo-telegram.png" style="height: 10vmin;"></img>
                        </div>
                        <div style="width: auto;"></div>
                            <p class="header-mini color-base", style="width: auto;">Войти через телеграм</p>
                        </div>
                    </div>
                </button>
            </form>
            <!--
            <div style="height: 15vmin;">
                <form action="/main_page" method="post">
                    <button class="Row BackgroundColorClickable RoundedBorders", style="height: 10vmin;">
                        <img src="../static/images/logo-telegram.png" style="height: 10vmin;"></img>
                        <p class="HeaderMini ColorContour">Войти через телеграм</p>
                    </button>
                </form>
            </div>
            -->
        </div>
    </body>
</html>