<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manrope'>
    </head>
    <body style="height: 100%;">
        <div style="display: flex; background-color: aqua; height: 40%; flex-direction: row; justify-content: space-evenly; align-items: center;">
            <div style="background-color: red; height: 40%; aspect-ratio: 1;"></div>
            <div style="background-color: green; height: 40%; width: 40%"></div>
        </div>
        <div style="background-color: aqua; height: 40%;">
            <p>Hello</p>
        </div>
        <div style="background-color: aqua; height: 40%;">
            <p>Hello</p>
        </div>
    </body>
</html>