<!DOCTYPE html>
<html>
    <head>
        <title>Сбер Карта</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
            <div class="left-side">
                <div class="green-box">
                    <form class="search-button">
                        <input type="text" placeholder="Искать здесь...">
                        <button type="submit"></button>
                    </form>
                </div>
                <div class="filters">
                    <div class="filter">
                        <label class="switch">
                            <input type="checkbox" class="switch_input" id="switch_input1">
                            <span class="switch_slider"></span>
                        </label>
                        <p class="filter-text">Супермаркеты</p>
                    </div>
                    <div class="filter">
                        <label class="switch">
                            <input type="checkbox" class="switch_input" id="switch_input2">
                            <span class="switch_slider"></span>
                        </label>
                        <p class="filter-text">Рестораны</p>
                    </div>
                    <div class="filter">
                        <label class="switch">
                            <input type="checkbox" class="switch_input" id="switch_input3">
                            <span class="switch_slider"></span>
                        </label>
                        <p class="filter-text">Кафе и кондитерские</p>
                    </div>
                </div>
            </div>
            <div id="container"></div>
        </header>
        <script src="https://mapgl.2gis.com/api/js/v1"></script>
        <script src="https://unpkg.com/@2gis/mapgl-clusterer@^2/dist/clustering.js"></script> 
        <script src="../scripts/script.js"></script> 
    </body>
</html>
