<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Кафе на карте</title>
        <script src='https://mapgl.2gis.com/api/js/v1'></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

        <script src="{{ url_for('static', filename='map.js') }}"></script>

        <style>
            .appearing {
                top: 0;
                height: 0;
                transition: height 1s ease;
            }
            
            .appearing.show {
                height: auto;
            }
        </style>
    </head>
    <body>
        <div class="column" style="max-width: 500px; height: auto; position: absolute; z-index: 1000; justify-content: start;">
            <div class="row" style="height: 70px">
                <div class="row bg-color-base" style="width: 90%; height: 70%; border-radius: 20px;">
                    <div class="block" style="width: 10%;">
                        <button type="submit" style="width: 100%; height: 100%; justify-content: right;"><p class="material-symbols-outlined color-contour2" style="font-size: 30px; margin: 0" onclick="show_filters()">menu</p></button>
                    </div>
                    <form method="post" style="width: 90%" novalidate action="location_search">
                        <div class="block" style="width: 89%">
                            <input type="text" name="location_search_bar" placeholder="Поиск" required>
                        </div>
                        <div class="block" style="width: 11%;">
                            <button type="submit" style="width: 100%; height: 100%; justify-content: left;"><p class="material-symbols-outlined color-contour2" style="font-size: 30px; margin: 0">search</p></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="scroll-column bg-color-base" id="location_info_box" style="height: auto; width: calc(90% - 2 * 10px); border-radius: 20px;">
            </div>
        </div>

        <div id="map" class="block" style="background-color: aqua;"></div>
        <!--
        <script>
            const map = new mapgl.Map('map', {
                center: [37.6173, 55.7558],
                zoom: 15,
                key: 'ab7b70c9-9132-468f-8b4c-87177a2418cf',
            });
    
            navigator.geolocation.getCurrentPosition(function(position) {
                const lat = 59.949; // position.coords.latitude;
                const lon = 30.312; // position.coords.longitude;

                fetch('/save_user_location/' + lat + '/' + lon);
    
                map.setCenter([lon, lat]);

                console.log(lat + ', ' + lon)

                const locations = {{ locations | tojson }};

                // JSON.stringify({ name: name, age: age })

                locations.forEach(location => {
                    const marker = new mapgl.HtmlMarker(map, {
                        coordinates: [location.point.lon, location.point.lat],
                        html: '\
                        <div class="row bg-color-base" style="width: 40px; height: 40px; border-radius: 50%;">\
                            <div style="height: 85%; width: 85%">\
                                <img class="expand-img" style="border-radius: 50%;" src="' + location.logo + '"></img>\
                            </div>\
                        </div>'
                    });
                }); /* <img class="expand-img" style="border-radius: 50%;" src="' + location.logo + '" onmouseover="push_location_info(\'' + location.img + '\')" onmouseout="pop_location_info()" ></img>\ */
            });
        </script>
    -->
    </body>
</html>