<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Кафе на карте</title>
        <script src='https://mapgl.2gis.com/api/js/v1'></script>
    </head>
    <body>
        <div class="row" style="background-color: red; height: 70px; max-width: 500px; position: absolute; z-index: 1000">
            <div class="row" style="background-color: white; width: 90%; height: 70%; border-radius: 20px;">
                <form method="post" action="location_search">
                    <div class="block" style="width: 80%">
                        <input type="text" name="location_search_bar" placeholder="Type something..." required>
                    </div>
                    <div class="block" style="width: 20%">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="map" class="block"></div>
        <script>
            const map = new mapgl.Map('map', {
                center: [37.6173, 55.7558],
                zoom: 15,
                key: 'ab7b70c9-9132-468f-8b4c-87177a2418cf',
            });
    
            navigator.geolocation.getCurrentPosition(function(position) {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                fetch('/save_user_location/' + lat + '/' + lon);
    
                map.setCenter([lon, lat]);

                console.log(lat + ', ' + lon)

                const locations = {{ locations | tojson }};

                locations.forEach(location => {
                    const marker = new mapgl.HtmlMarker(map, {
                        coordinates: [location.point.lon, location.point.lat],
                        html: '<div>' + location.name + '</div>'
                    });
                });
            });
        </script>
    </body>
</html>