<!DOCTYPE html>
<html>
    <body>
        <script>
            if (confirm("Зайти в систему поддержки?")) {
                    fetch('/admin/roles', {method: 'GET'}).then(
                        response => {
                            window.location = response.url;
                        }
                    );
                }
                else {
                    fetch('/home', {method: 'GET'}).then(
                        response => {
                            window.location = response.url;
                        }
                    );
                }
        </script>
    </body>
</html>