<!DOCTYPE html>
<html>
    <body>
        <script>
            window.onload = function() {
                var user_type = {{ user.type | tojson }};
                if (user_type == "User") {
                    window.location.href = "/user/home";
                } else {
                    if (confirm("Зайти в систему поддержки?")) {
                        if (user_type == "Support") {
                            window.location.href = "/admin/support";
                        } else if (user_type == "Manager") {
                            window.location.href = "/manager/reviews";
                        }
                    } else {
                        window.location.href = "/user/home";
                    }
                }
            }
        </script>
    </body>
</html>