html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 100%;
    top: 0;
}

#container {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.menu {
    /* background-color: rgb(39, 190, 39); */
    width: 100vw; /* Ширина блока (можно менять по своему усмотрению) */
    height: 90vh; /* Высота блока */
    margin: 0;  
    transition: 0.5s;
    transform: translateY(110%);

    background-color: #443a3a;
    z-index: 2;
}

.menu-active {
    transform: translateY(20%);
}

.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 4vw;  
    top: -4.5vh;
}


.green-box {
    background-color: rgb(26, 156, 26); /* Устанавливаем зеленый фон */
    width: 100vw; /* Ширина блока (можно менять по своему усмотрению) */
    height: 7vh; /* Высота блока */
    margin: 0; 
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.search-button {
    position: relative;
    width: 50vw;
    height: 7vh;
    margin: 0 auto;
    text-align: center;
}

* {box-sizing: border-box;}
/* form {
  position: relative;
  width: 50vw;
  height: 7vh;
  margin: 0 auto;
} */
input, .input-btn {
  border: none;
  outline: none;
  border-radius: 120px;
}
input {
  width: 100%;
  height: 50%;
  margin-top: 7%;
  background: #F9F0DA;
  padding-left: 15px;
}
.input-btn {
  height: 30%;
  width: 12%;
  position: absolute;
  margin-top: 10%;
  margin-left: -13%;
  background: #F15B42;
  cursor: pointer;
}
button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.switch {
    display: inline_block;
    position: relative;
    width: 60px;
    height: 34px;

    padding-top: 51px;
    padding-right: 50px;
}

.switch_input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 16px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;

    background-color: #21BA72;
    transition: 0.4s;
}

.switch_slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 28px;
    bottom: 4px;
    height: 26px;
    width: 26px;
    border-radius: 50%;

    background-color: white;
    transition: 0.4s;
}

.switch_input:focus + .switch_slider {
    box-shadow: 0 0 1px #2196f3;
}

.switch_input:checked + .switch_slider{
    background-color: rgb(165, 159, 159);
}

.switch_input:checked + .switch_slider::before{
    transform: translateX(-24px);
}


.filter-text {
    width: 100%;
    padding-left: 10px;
}

.filter {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.filters {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}


.sber_gradient {
    background-image: linear-gradient(to right, #0087cd, #42E3B4, #A0E720, #FAED00, #A0E720, #21BA72,#21BA72);
}


.login_window {
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;

    background-color: whitesmoke;
    border-radius: 10%;
}

.login_texthint {
    margin-left: 0%;
    margin-bottom: 0%;

    color:lightslategray
}

#login_button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;

    background-color: black;
    color: gray;
    border-radius: 14px;
}

.popup {
    position: absolute;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.popup-content {
    padding: 10px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(38, 38, 38, 0.2);
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
}
.popup-tip {
    width: 0;
    height: 0;
    align-self: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}


.popup {
    position: absolute;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.popup-content {
    padding: 10px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(38, 38, 38, 0.2);
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
}
.popup-tip {
    width: 0;
    height: 0;
    align-self: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
