<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="../../static/style.css"> 
        <style>
            .image-container {
                display: flex;
                overflow-x: auto; /* Enables horizontal scrolling */
                padding: 10px;
            }
            .image-container img {
                margin-right: 10px; /* Space between images */
                border-radius: 8px; /* Optional: rounded corners */
            }
        </style>

    </head>
    <body>
        <div class="column" style="justify-content: start; align-items: start;">
            <div class="row" style="height: 10%; justify-content: space-between;">
                <div class="block" style="width: auto">
                    <p class="header-large" style="margin-left: 10px;">буше</p>
                </div>
                <div class="block" style="width: auto">
                    <p class="material-symbols-outlined color-contour2" style="font-size: 2rem; margin: 0 10px 0 0">arrow_back</p>
                </div>
            </div>
            <div class="row" style="width: auto; height: auto; justify-content: left;">
                {% for i in range(0, 5) %}
                <p class="material-symbols-outlined" style="font-size: 1.5rem; margin-left: 2px; margin-right: 2px;">star</p>
                {% endfor %}

                <p class="text-main" style="margin-left: 10px;">4.4</p>
            </div>
            <div class="scroll-row" style="height: 60%; align-items:start; justify-content: left;">
                {% for i in range(0, 4) %}
                <div class="block" style="width: auto; margin-right: 10px">
                    <img class="img rounded" style="height: 100%" src="{{ partner.image_url }}"></img>    
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>