<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../static/style.css"> 
    </head>
    <body>
        <div class="column" style="justify-content: start; align-items: start;">
            <div class="row" style="height: 10%; justify-content: space-between;">
                <div class="block" style="width: auto">
                    <p class="header-large" style="margin-left: 10px;">отзывы</p>
                </div>
                <form action="/user/partner" method="post" style="width: auto">
                    <button type="submit" name="partner_button" value="{{ partner_id }}" class="block" style="width: auto">
                        <p class="material-symbols-outlined color-contour2" style="font-size: 2rem; margin: 0 10px 0 0">arrow_back</p>
                    </button>
                </form>
            </div>

            <div class="column" style="height: auto">
                <div class="column" style="width: 95%; height: auto; margin-bottom: 50px">
                    {% for comment in comments %}
                    {% if (comment.desc|length) > 0 %}
                    <div class="block" style="height: auto; justify-content: left;">
                        <p class="header-mini" style="margin: 0">{{ comment.user_name }}, {{ comment.user_age }}</p>
                    </div>
                    <div class="row" style="height: auto; justify-content: left;">
                        {% for i in range(0, comment.rating) %}
                        <p class="material-icons" style="font-size: 1rem; margin: 0; margin-right: 2px;">star</p>
                        {% endfor %}

                        {% for i in range(0, 5 - comment.rating) %}
                        <p class="material-icons" style="font-size: 1rem; margin: 0; margin-right: 2px;">star_outline</p>
                        {% endfor %}
                    </div>
                    <div class="block" style="height: auto; justify-content: left;">
                        <p class="text-mini color-contour2" style="margin: 0">{{ comment.desc }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>