<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="../../static/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    </head>
    <header style="height: 50px;">
        <div class="row" style="justify-content: start; height: 50px; width: 100%">
            <div class="block" style="width: auto">
                <img class="expand-img" src="https://toplogos.ru/images/logo-sber.png"></img>
            </div>
        </div>
    </header>
    <body>
        <div class="column" style="height: calc(100% - 50px - 60px)">
            <div id="messages" class="scroll-column" style="max-width: 500px; height: calc(100% - 70px);">
                {% for message in messages %}
                <div class="block"
                    {% if message.sender == 'user' %}
                        style="height: auto; justify-content: end;"
                    {% elif message.sender == 'support' %}
                        style="height: auto; justify-content: start;"
                    {% endif %}>
                    <div 
                        {% if message.sender == 'support' %}
                            class="block bg-color-frame1"
                            style="width: auto; max-width: 300px; height: auto; margin: 5px; padding: 5px; border-radius: 10px 10px 10px 0;"
                        {% elif message.sender == 'user' %}
                            class="block bg-color-clickable" 
                            style="width: auto; max-width: 300px; height: auto; margin: 5px; padding: 5px; border-radius: 10px 10px 0 10px;"
                        {% endif %}>
                        <p class="text-mini">{{ message.message }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row" style="height: 70px; max-width: 500px;">
                <div class="row bg-color-frame1" style="width: 100%; height: 70%; border-radius: 20px;">
                    <div class="row">
                        <div class="block" style="width: 89%">
                            <input id="message-input" class="bg-color-frame1" type="text" name="message-input" placeholder="Message" required>
                        </div>
                        <div class="block" style="width: 11%;">
                            <button id="send-button" type="submit" style="width: 100%; height: 100%; justify-content: left;"><p class="material-symbols-outlined color-contour2" style="font-size: 30px; margin: 0">send</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const socket = io();

            const user_id = {{ user_id | tojson }}
    
            const messagesDiv = document.getElementById('messages');
            const messageInput = document.getElementById('message-input');
            const sendButton = document.getElementById('send-button');

            messagesDiv.scrollTop = messagesDiv.scrollHeight;
    
            socket.on('message', function(msg) {
                if (JSON.parse(msg)['sender'] == user_id) {
                    const messageHolder = document.createElement('div');
                    messageHolder.className = 'block';
                    messageHolder.style = 'height: auto; justify-content: end;';

                    const messageBubble = document.createElement('div');
                    messageBubble.className = 'block bg-color-clickable';
                    messageBubble.style = 'width: auto; max-width: 300px; height: auto; margin: 5px; padding: 5px; border-radius: 10px 10px 0 10px;';

                    const messageText = document.createElement('p');
                    messageText.className = 'text-mini';
                    messageText.innerText = JSON.parse(msg)['text'];

                    messageBubble.appendChild(messageText);
                    messageHolder.appendChild(messageBubble);
                    messagesDiv.appendChild(messageHolder);
                    messagesDiv.scrollTop = messagesDiv.scrollHeight; // Auto scroll to the bottom
                }
            });
    
            sendButton.onclick = function() {
                const msg = JSON.stringify({'text': messageInput.value, 'sender': user_id});
                if (msg) {
                    socket.emit('message', msg);
                    messageInput.value = '';
                }
            };
    
            messageInput.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    sendButton.click();
                }
            });
        </script>        
    </body>
    <footer class="bg-color-blur" style="height: 60px;">
        <div class="row">
            <div class="block">
                <form action="/user/home" method="get">
                    <button>
                        <p class="material-symbols-outlined color-contour2" style="font-size: 60px;">home</p>
                    </button>
                </form>
            </div>
            <div class="block">
                <form action="/user/map" method="get">
                    <button>
                        <p class="material-symbols-outlined color-contour2" style="font-size: 60px;">map</p>
                    </button>
                </form>
            </div>
            <div class="block">
                <form action="/user/support" method="get">
                    <button>
                        <p class="material-symbols-outlined color-clickable" style="font-size: 60px;">contact_support</p>
                    </button>
                </form>
            </div>
            <div class="block">
                <form action="/user/profile" method="get">
                    <button>
                        <p class="material-symbols-outlined color-contour2" style="font-size: 60px;">account_circle</p>
                    </button>
                </form>
            </div>
        </div>
    </footer>
</html>